header{
    width: 100vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 0px 8px 0px black;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header ul li{
    transition: all 250ms ease;
    padding: 1em 1em 1em 1em;
    margin: 1.3em 1.3em 1.3em 1.3em;
    font-weight: 300;
    font-size: 1.1em;
}

header ul li:hover{
    margin: 1em 1.7em 1em 1.7em;
    border-style: solid;
    border-top-width: 0.2em;
}

header ul li a{
    text-decoration: none;
}

header ul li a:hover{
    color: black;
}