.contactPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #67aeca;
}

.contact-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

em {
    font-style: italic !important;
}

.contactPage h1 {
    font-size: 3rem;
    margin: 5vh auto;
}

.contactPage p {
    width: 50vw;
    line-height: 1.6;
    text-align: center;
    font-size: 1.1rem;
}

form {
    margin: 5vh auto !important;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

form fieldset {
    display: flex;
    flex-direction: row;
}

form input {
    width: 100%;
    height: 5vh;
    border: none;
    margin: 0vh 0vw 2vh 0vw;
    font-size: 1rem;
    padding: 0 1vw;
    border-radius: 3px;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-size: 0.8rem;
}

:-moz-placeholder {
    font-style: italic;
    font-size: 0.8rem;
}

::-moz-placeholder {
    font-style: italic;
    font-size: 0.8rem;
}

:-ms-input-placeholder {
    font-style: italic;
    font-size: 0.8rem;
}

#email {
    margin-bottom: 5vh;
}

form textarea {
    width: 100%;
    height: 15vh;
    resize: none;
    font-size: 1rem;
    padding: 1vh 1vw;
    border: none;
    border-radius: 3px;
}

form button {
    height: 5vh;
    margin: 5vh 0;
    width: 10vw;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    background: linear-gradient(to right, #438496 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

form button:hover {
    background-position: left bottom;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

form button:hover {
    cursor: hand;
    color: white;
}

button[disabled] {
    background: linear-gradient(to right, white 50%, white 50%);
}

button[disabled]:hover {
    cursor: not-allowed;
    color: black;
}

form input:focus,
form textarea:focus {
    border: 1px solid gray;
}

select {
    width: 50%;
    height: 5vh;
    border: none;
    margin: 0vh 0vw 3vh 0vw;
    font-size: 1rem;
    padding: 0 1vw;
    border-radius: 3px;
}

.delay-item{
    position: relative;
    top: 50px;
    opacity: 0;
}

.delay-item-header{
    position: relative;
    opacity: 0;
}

.LNnumErr,
.LNlenErr {
    float: right;
}

.err {
    position: relative;
    text-transform: uppercase;
    color: red;
    opacity: 0;
}