header {
    width: 100vw;
    height: 12vh;
    transition: all 550ms ease;
    -webkit-transition: all 550ms ease;
    -moz-transition: all 550ms ease;
    -ms-transition: all 550ms ease;
    z-index: 9999;
    margin: 0vh auto !important;
    position: absolute;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vh 0;
}

header ul span li {
    display: flex;
    align-items: center;
    margin: 0em 2vw 0em 2vw;
    text-transform: lowercase;
}

header ul span li a {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    text-decoration: none;
    color: white;
}

ul#socialLinks li a svg{
    width: 2vw;
    color: white;
}

header ul span li a:hover {
    opacity: 0.8;
}

header ul .MenuLink {
    padding: 1vh 0;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    letter-spacing: 0.08em;
}

#nav-links-pull-right {
    width: 35vw;
    display: flex;
    justify-content: flex-start;
}

#socialLinks li a img {
    width: 2vw;
}

#logo {
    font-weight: 700;
    font-size: 1em;
    text-align: left;
    padding-right: 2vw;
}

.MenuLinkStyle {
    font-size: 0.9em;
    font-weight: 700;
    color: #595959;
}

@media (max-width: 750px) {
    header ul {
        text-align: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }
}