header{
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    z-index: 9999;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header ul li a{
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    color: #002833 !important;
    margin: 0.3em 0.3em 0.3em 0.3em;
}

header ul li{
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0em 2vw 0em 2vw;
    font-weight: 300;
    font-size: 1.3em;
}

#logo{
    font-weight: 600;
    font-size: 1.3em;
}

.shrink{
    height: 15vh;
    background-color: white;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.MenuLinkStyle{
    font-size: 0.9em;
    color: #595959;
}

header {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:500ms;
    -moz-animation-duration:500ms;
    animation-duration:500ms;
}
