.navigation {
    position: fixed;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    height: 100vh;
    background-color: white;
    width: 25vw;
    -webkit-box-shadow: 10px 0px 5px -2px #888;
}

.nav-item {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navLinks{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.nav-item a {
    display: flex;
    justify-content: center;
    width: 10vw;
    color: black;
    font-size: 1.5em;
    -webkit-transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
    padding: 4vh 2vw;
    font-family: 'Lora', serif;
    border-bottom: 1px solid gainsboro;

}

.nav-item a:hover {
    color: #3b5998;
}

.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 2vw;
    z-index: 3;
    /* non-critical appearance styles */
    height: 10vh;
    width: 3vw;
    cursor: pointer;
    font-size: 4em;
    color: white;
}

label[for="nav-trigger"]:hover{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.nav-trigger + label,
.site-wrap {
    -webkit-transition: left 250ms;
    transition: left 250ms;
}

.nav-trigger:checked + label {
    left: 28vw;
}

.nav-trigger:checked ~ .site-wrap {
    left: 25vw;
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
}

#socialIcons{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    z-index: 2;
    margin:-3vh 1vw;
    width: 98vw;
    height: 17vh;
}

#socialIcons ul li{
    display: inline-flex;
    margin: 0vh 0.2vw;
}

#socialIcons ul li a img{
    width: 3vw;
}

.nav-itemLogo{
    padding: 2vh 0vw 6vh 0vw;
    font-size: 3em;
}

.nav-itemLogo a{
    color: black;
}