/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.mainWrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../img/main.jpg) no-repeat top left;
    background-size: cover;
    color: white;
}

.mainHeader{
    position: relative;
    font-size: 6em;
    color: #D9853B;
    font-family: 'Lora', serif;
    text-align: center;
    /*background-color: rgba(0,0,0,0.4);*/
    width: 100vw;
}

.mainHeader span{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #ECECEA;
    font-size: 1em;
}

.about{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../img/sample/ingrediants.jpg) repeat-y fixed center bottom;
    background-size: cover;
}

.tiles{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: black;
    padding: 1vh 0vw;
}

@media(max-width: 768px){
    .tiles{
        flex-direction: column;
    }

    .tile{
        width: 100vw !important;
        height: 60vh;
        margin: 0.5vh 0vw 0.5vw 0vh !important;
    }
}

.tile{
    height: 70vh;
    width: 32.5vw;
    background: url("../img/sample/cookies2dark.jpg") no-repeat center bottom;
    background-size: cover;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    opacity: 0.9;
}

.tile:hover{
    width: 34vw;
    cursor: hand;
    opacity: 1;
}

.tileHeader{
    color: white;
    padding: 2vh 3vw;
}

.bakersBoxAbout{
    height: 90vh;
    background: url("../img/easterCookies.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-size: 1em;
}