{{template "header"}}

<div id="bigGalleryContainer">
    <div id="galleryHeading" class="parallax">
        <h1 class="bigGalleryHeader">You've reached the gallery</h1>
        <p class="bigGalleryBody">This is test text. You can of course add important information about whatever. You could also include information about the different items offered. Ideally you would have something cool here that helps customers navigate the site or at least something cool and maybe even a little funny.</p>
    </div>
    <div id="filter">
        <ul id="filter-list">
            <li id="all">all</li>
            <li id="cookies">cookies</li>
            <li id="cupcakes">cupcakes</li>
            <li id="bread">bread</li>
            <li id="macaroons">macaroons</li>
        </ul>
    </div>
    <div id="mobile-filter">
        <span class='mobile-filter-header'>Filter:</span>
        <select id='mobile-filter-list-gallery'>
            <option>all</option>
            <option>cookies</option>
            <option>cupcakes</option>
            <option>bread</option>
            <option>macaroons</option>
        </select>
    </div>
    <div class="bigGallery">
        {{ range . }}
        <a href="/contact">
            <div class="bigGalleryItem {{ .Type }}">
                <img src="{{ .Url }}" alt="{{ .Title }}">
                <span class="order-now-button">Order {{ .Type }}</span>
                <span class="infoPane">
                <div id="infoPaneDetails">
                    <h1>{{ .Title }}</h1>
                    <p>{{ .Price }}</p>
                </div>
            </span>
            </div>
        </a>
        {{ end }}
    </div>
    <div class="instaLink"><a href="https://www.instagram.com/thebakersboxcafe/">See more on Instagram</a></div>
</div>

{{template "footer"}}