{{define "header"}}
<html xmlns="http://www.w3.org/1999/html">

</html>

<head>
    <title>The Bakers Box Cafe</title>

    <link rel="stylesheet" href="../assets/styles/headerstyles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles/contact.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles/mainstyles.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles/footer.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <header>
        <div id="mobileHeaderClose">
            <img class="svg" src="../assets/img/icons/1473768912_button_close.svg" />
        </div>
        <ul>
            <span id="nav-links-pull-right"><li>
			<a href="/" class="MenuLink" id="logo">The<br/> Bakers Box <br/>Cafe</a>
		</li>
		<li>
			<a href="/pricing" class="MenuLink">Pricing</a>
		</li>
		<li>
			<a href="/contact" class="MenuLink">Contact</a>
		</li>
		<li>
			<a href="/gallery" class="MenuLink">Gallery</a>
		</li>
		</span>
            <span>
			<ul id="socialLinks">
				<li>
					<a href="/contact"><img src="../assets/img/icons/mail.png"/></a>
				</li>
				<li>
					<a href="https://www.instagram.com/thebakersboxcafe/"><img src="../assets/img/icons/instagram.png"/></a>
				</li>
			</ul>
		</span>
        </ul>
    </header>
    <div id="mobileHeader">
        <div id="mobileHeaderOpen">
            <img src="../assets/img/icons/1473762264_menu-24.svg" />
        </div>
    </div>
    {{end}} {{define "footer"}}
    <footer>
        <div id="footerWrapper">
            <div>
                <p>Made with love and sugar.</p>
            </div>
            <div>
                <p id="footerlogo">The
                    <br>Bakers
                    <br>Box
                    <br>Cafe</p>
            </div>
            <div>
                <div class="socialLinks">
                    <h1>FOLLOW ME</h1>
                    <br/>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/thebakersboxcafe/"><img src="../assets/img/icons/instagram-black.png"></a>
                        </li>
                    </ul>
                </div>
                <div class="socialLinks">
                    <h1>CONTACT ME</h1>
                    <br/>
                    <p><a href="#" mailto="#">thebakersboxcafe@gmail.com</a></p>
                </div>
            </div>
            <div id="footerNav">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/pricing">PRICING</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="../assets/js/form-validation.js" type="text/javascript"></script>
    <script src="../assets/js/scripts.js" type="text/javascript"></script>

</body>
{{end}}