{{template "header"}}
<div class="site-wrap">
    <div class="mainWrapper parallax">
        <div id="mainTag">
            <h1 id="mainHeader">
				<p>The<br/>Bakers<br/>Box<br/>Cafe</p>
			</h1>
            <div class="big-red-button delay-item"><a href="/gallery"><span>Shop Now</span><img src="../assets/img/icons/shopping-bag.svg" class="svg" /></a></div>
        </div>
    </div>
    <div id="about" class="parallax">
        <div id="bio"><span id="bioTitle" class="fade-in-scroll">California Dreamin'<br/> of Cakes <br/>and Cookies
			</span>
            <span id="bioBody" class="fade-in-scroll">
				My name is Ariel.<br/> I started my business in February of 2014 and have quit my day job since.
				I do this full time and for the most part, it's just little ol' me.<br/><br/>
				I answer all emails, bake, decorate, and package all the treats that go out of my family's home.
				I look forward to opening my door to greet you with your order soon.
			</span>
        </div>
        <div class="fade-in-scroll contact-me-button">
            <a id="contact-me-button" href="/contact"><span>Contact Me</span><img id="mail-icon" class="svg env-icon" src="../assets/img/icons/envelope.svg"/></a>
        </div>
    </div>

    <div class="slider-nav">
        <a href="#" class="arrow-prev">&larr;</a>
        <ul class="slider-dots">
            <li class="dot">&bull;</li>
            <li class="dot">&bull;</li>
            <li class="dot">&bull;</li>
            <li class="dot">&bull;</li>
        </ul>
        <a href="#" class="arrow-next">&rarr;</a>
    </div>
    <div class="slider">
        {{ range . }}
        <div class="slide parallax2" style="background-image: url({{ .Url }});">
            <h1 class="fade-in-scroll">{{ .Title }}</h1>
            <a href="/gallery?{{ .Type }}">
                <p class="fade-in-scroll">Shop {{ .Type }}</p>
            </a>
        </div>
        {{ end }}
    </div>
    <div class="action-banner parallax2">
        <div id="action-banner-one" class="fade-in-scroll">
            <h1>Have a question?<br/>Ready to order?</h1>
            <span>Don't be shy...</span>
        </div>
        <div class="fade-in-scroll contact-me-button">
            <a id="contact-me-button" href="/contact"><span>Contact Me</span><img id="mail-icon" class="svg env-icon" src="../assets/img/icons/envelope.svg"/></a>
        </div>
    </div>
    {{template "footer"}}
</div>