{{template "header"}}
<div class="site-wrap">
	<div class="mainWrapper parallax">
		<div id="mainTag">
			<h1 id="mainHeader">
				<span>the</span>
				BAKERS<br/> BOX
				<span>cafe</span>
			</h1>
		</div>
	</div>
	<div id="about" class="hide-me">
		<div id="bio"><span>California dreamin' of cakes and cookies
			</span><br/><br/>
			My name is Ariel. I started my business in February of 2014 and have quit my day job since.
			I do this full time and for the most part, it's just little ol' me.
			I answer all emails, bake, decorate, and package all the treats that go out of my family's home.
			I look forward to opening my door to greet you with your order soon.
		</div>
		<div id="contactButton">
			<span>Have a question? <br/>Ready to order? <br/><span id="letsTalk">Let's talk.</span></span>

			<div>
				<a href="#">CONTACT</a>
			</div>
		</div>
	</div>
	<div class="smallGallery">
		{{ range . }}
		<div class="galleryItem">
			<img src="../assets/img/galleria/{{ . }}">
		</div>
		{{ end }}
	</div>
	<div class="smallGallery social">
		<div class="flexed">
			<a href="https://www.instagram.com/thebakersboxcafe/"><img src="../assets/img/icons/insta.png"></a>

			<h1>Follow me on Instagram</h1>
		</div>
		<div class="flexed">
			<a href="/contact"><img src="../assets/img/icons/mail.png"></a>

			<h1>Contact me</h1>

		</div>
	</div>
	{{template "footer"}}
</div>