{{ template "header"}}

<div class="pricingContainer">
	<div id="pricingHeader" class="pricingContainer parallax">
		<h1 class="">PRICING</h1>

		<div id="pricingButtons" class="btn-group" role="group">
			<button class="button" type="button" id="breadButton">Breads</button>
			<button class="button clickedButton" type="button" id="cookiesButton">Cookies</button>
			<button class="button" type="button" id="cupcakesButton">Cupcakes</button>
			<button class="button" type="button" id="rollsButton">Rolls</button>
		</div>
	</div>

	<div class="pricingSectionContainer">
		<div id="cookiesSection" class="pricingSection notHidden">
			<div class="subSection">
				<div>
					<img src="../assets/img/galleria/cupcakeCookie.png">

					<p class="title">Decorated Sugar Cookies</p>

					<p>$25 - $45 per dozen</p>

					<p class="smallDetail">Prices vary per size and detail</p>
				</div>
				<div>
					<img src="../assets/img/galleria/cupcakeCookie.png">

					<p class="title">Boxed Sets</p>

					<p>$10</p>

					<p class="smallDetail">3 regular or 5 mini decorated sugar cookies</p>
				</div>
			</div>
		</div>
		<div id="breadSection" class="pricingSection">
			<div class="subSection">
				<div>
					<img src="../assets/img/galleria/bread.png">

					<p class="title">Breads</p>

					<p>Small <span class="smallDetail">$3</span></p>

					<p>Medium <span class="smallDetail">$7</span></p>

					<p>Large <span class="smallDetail">$14</span></p>
				</div>
				<div>
					<p class="title">Flavors</p>

					<p>Banana Nut</p>

					<p>Cranberry</p>

					<p>Pumpkin</p>

					<p>Walnut</p>
				</div>
			</div>
		</div>
		<div id="cupcakesSection" class="pricingSection">
			<div class="subSection">
				<div>
					<img src="../assets/img/galleria/cupcakes.png">

					<p class="title">Cupcakes</p>

					<p>$25 per dozen</p>

					<p class="smallDetail">add $10 for Fondant topping</p>
				</div>
				<div>
					<p class="title">Flavors</p>

					<p>Vanilla</p>

					<p>Strawberry</p>

					<p>Lemon</p>

					<p>Red Velvet</p>

					<p>Chocolate</p>

					<p>Banana Nut</p>

					<p>Marble</p>

					<p>Snickerdoodle (churro)</p>
				</div>
				<div>
					<p class="title">Frostings</p>

					<p>Vanilla Buttercream</p>

					<p>Strawberry Buttercream</p>

					<p>Oreo Buttercream</p>

					<p>Lemon Buttercream</p>

					<p>Coffee Buttercream</p>
				</div>
			</div>
		</div>
		<div id="rollsSection" class="pricingSection">
			<div class="subSection">
				<div>
					<img src="../assets/img/galleria/twoCupcakes.png">

					<p class="title">Cinnamon Rolls</p>

					<p>$3</p>

					<p class="smallDetail">add $3.50 for pecans</p>
				</div>
			</div>
		</div>
	</div>
</div>

{{ template "footer"}}